body {
  margin: 0;
  font-family: Droid Sans;
  height: 100%;
}

* {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

#draw_area {
  position: absolute;
  -webkit-tap-highlight-color: transparent;
  z-index: 1;
}

#message {
  z-index: 3;
  position: absolute;
  font-weight: bold;
  font-size: 8pt;
  color: rgba(0,0,0,0.2);
  padding: 4px;
}

#buttons {
  position: absolute;
  z-index: 3;
  bottom: 0;
  left: 5px;
}

.btn-large.icon {
  font-size: 24px; 
  line-height: 17px;
}

#pages {
  position: absolute;
  bottom: 50px;
  background-color: white;
  border: 3px solid #eee;
  border-radius: 5px;
  width: 150px;
  box-shadow: 1px 4px 5px rgba(0,0,0,0.04);
}

#pages ul {
  min-height:10px;
  margin: 0;
  list-style: none;
}

#pages .callout-arrow {
  bottom: 0;
  background-color: white;
  width: 10px;
  height: 10px;
  border: 3px solid #eee;
  -webkit-transform: rotate(45deg);
  border-width: 0 3px 3px 0;
  margin-bottom: -9px;
  margin-left: 10px;
  box-shadow: 4px 2px 5px rgba(0,0,0,0.04);
}

#pages li {
  font-size: 1.2em;
  border-top: 1px solid #eee;
}

#pages li:first-child {
  border-bottom: none;
}

#pages a {
  padding: 15px;
  color: #444;
  width: 100%;
  display: block;
}

#pages a:hover {
  text-decoration: none;
}

#active_target {
  border: 1px solid red;
  background-color: rgba(255,0,0,0.1);
  min-width: 1px;
  min-height: 1px;
  position: absolute;
  color: red;
  text-align: center;
  overflow: hidden;
}