body {
  margin: 0;
  font-family: Droid Sans;
  height: 100%;
}

* {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

#draw_area {
  position: absolute;
  -webkit-tap-highlight-color: transparent;
  z-index: 1;
}

#message {
  z-index: 3;
  position: absolute;
  font-weight: bold;
  font-size: 8pt;
  color: rgba(0,0,0,0.2);
  padding: 4px;
}

#buttons {
  position: absolute;
  z-index: 3;
  bottom: 0;
  left: 5px;
}

.btn-large.icon {
  font-size: 24px; 
  line-height: 17px;
}

#files {
  width: 100px;
  height: 37px;
  border: 1px solid #ccc;
  background-color: none;
}